services:
  backend:
    image: docker.io/emodtibor/oc-soccer-backend@__BACKEND_DIGEST__
    volumes:
      - /srv/oc-soccer/backend/data:/app/data
    restart: unless-stopped
    networks:
      - proxy_shared

  frontend:
    image: docker.io/emodtibor/oc-soccer-frontend@__FRONTEND_DIGEST__
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - proxy_shared

networks:
  proxy_shared:
    external: true
